body {
  padding: 2%;
  margin: 2%;
  font-family: "Lucida Handwriting", Monaco, Georgia;
  background-color: rgb(130, 170, 212);
}
h1 {
  text-shadow: 1px 1px 1px darkblue; 
  text-align: center;
  
}

time {
  font-weight: bold;
  font-size: 100%;
}

.supplemental {
  font-style: italic;
}


.resize {
  resize: horizontal;
  overflow: auto;
  border: 4px solid orange;
  width: 300px;
  border-radius: 8px;
  padding: 1%;
}

/*
The red and orange color are difficult to read on a blue background

.note {
  font-size: 110%;
  font-weight: bold;
  color: red;
}

.variable {
  color: orange;
}
*/

footer {
  font-style: italic;
}


.tooltip {
    position: relative;
    display: inline-block;
    
     
}

.tooltiptext {
    position: absolute; 
    /*visibility: hidden;*/
    top: 100%;
    left: 50%;
    width: 4em;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    
}

// CSS pseudo-class
.tooltip:hover .tooltiptext {
  visibility: visible;
}
