body {
  padding: 2%;
  margin: 2%;
  font-family: "Lucida Handwriting", Monaco, Georgia;
  background-color: lightorange;
}
h1 {
  text-shadow: 1px 1px 1px darkblue; 
  text-align: center;
  
}

time {
  font-weight: bold;
}

.supplemental {
  font-style: italic;
}


div.resize {
  resize: horizontal;
}

